<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-2xl font-semibold text-gray-700">
    Dashboard de Energía Renovable
  </h2>
  
  <!-- Cards -->
  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <div *ngFor="let card of cards" class="flex items-center p-4 bg-white rounded-lg shadow-xs">
      <div [class]="'p-3 mr-4 text-' + card.color + '-500 bg-' + card.color + '-100 rounded-full'">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
          <path [attr.d]="card.icon"></path>
        </svg>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600">
          {{card.title}}
        </p>
        <p class="text-lg font-semibold text-gray-700">
          {{card.value}}
        </p>
      </div>
    </div>
  </div>

  <!-- Charts -->
  <div class="grid gap-6 mb-8 md:grid-cols-2">
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs">
      <h4 class="mb-4 font-semibold text-gray-800">Porcentaje de Energía Renovable por Región</h4>
      <apx-chart
        [series]="renewableEnergyChartOptions.series"
        [chart]="renewableEnergyChartOptions.chart"
        [xaxis]="renewableEnergyChartOptions.xaxis"
        [title]="renewableEnergyChartOptions.title"
        [tooltip]="renewableEnergyChartOptions.tooltip"
        [theme]="renewableEnergyChartOptions.theme">
      </apx-chart>
    </div>
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs">
      <h4 class="mb-4 font-semibold text-gray-800">Fuentes de Energía Renovable</h4>
      <apx-chart
        [series]="renewableSourcesChartOptions.series"
        [chart]="renewableSourcesChartOptions.chart"
        [labels]="renewableSourcesChartOptions.labels"
        [colors]="renewableSourcesChartOptions.colors"
        [responsive]="renewableSourcesChartOptions.responsive"
      ></apx-chart>
    </div>
  </div>
</div>